/*
================================ 
Home 
================================
*/
* {
    margin: 0;
}
body {
    background-position: center;
    text-align: center;
}
nav {
    position: fixed;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 1%;
    background: #5A3F37;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*
    background-color: rgb(8, 70, 8);
    */
}
nav, footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav a {
    display: inline-block;
    font-size: 40px;
    padding-right: 5%;
    font-weight: bolder;

}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover,
a:focus {
    color: white;
}
.main { 
    background-image: url(../img/bikesh-deshar-iN5jOYa724Y-unsplash.jpg);
    padding-top: 20%;
    min-height: 600px;
}
.content {
    margin-left: 20%;
    padding: 5px;
    text-align: center;
    max-width: 750px;
    padding-bottom: 5%;
    min-height: 600px;
}
.me {
    background-image: url(../img/profilePicture.jpg);
    background-size: cover;
    float: left;
    border-radius: 50%;
    padding: 5px;
    width: 200px;
    height: 200px;

}
h1 {
    font-size: 60px;
}

.brief {
    max-width: 500px;
    padding-left: 250px;
}
.brief p {
    font-size: 40px;
}
p {
    font-size: 30px;
    font-weight: 900;
    
}
footer {
    background: #5A3F37;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 18%;
}
footer a {
    font-size: 30px;
    padding: 10px 30px;
}
/*
================================ 
Skills
================================
*/
.skills {
    text-align: left;
    background-image: url(../img/ivana-cajina-Fm3ZlPW2gp0-unsplash.jpg);
    background-position: top;
    color: white;
}
.landing-pad {
    padding-top: 15%;
    background-image: url(../img/intricate-explorer-hlj6xJG30FE-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.skill-bio {
    margin-bottom: auto;
    min-height: 300px;
    max-width: 500px;
    font-size: x-large;
}
.content-skills {
    margin: 0% 25%;
    padding: 5% 5% 5% 10%;
    min-height: 400px;
}
.brief-skills {
    font-size: 25px;
    max-width: 500px;
}
.skill-list {
    margin-top: 5%;
    margin-right: 25%;
}
.skill-bio p  {
    color: white;
    background-color:rgba(37, 36, 36, 0.486);
}
.skill-bio h1 {
    font-size: 50px;
}
.skill-btn:hover {
    background-color: black;
    color: white;
}
.skill-list a {
    display: inline-block;
    padding: 5%;
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20%;
    font-size: larger;
    border: 2px solid black;
}
.skill-list a:hover {
    background-color: black;
    color: white;
}
/*
================================ 
projects
================================
*/

.projects {
    background-image: url(../img/peter-herrmann-oV6h8DPzGkA-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    display: grid;
    grid-template-rows: 15% 25% 50% 10%; 
    grid-template-columns: 1fr 1fr 3fr 3fr 3fr 1fr 1fr ;
    grid-template-areas: 
    'nav nav nav nav nav nav nav'
    '. . . . . . .'
    '. . java java java . .'
    'footer footer footer footer footer footer footer';
    min-height: 1000px;
}
.project-list {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
}
.java-grid {
    grid-area: java;
    
}
.project-list .downloads {
     display: inline-block;
     max-width: 300px;
}
.project-list h1 {
    font-size: 35px;
    margin-top: 25%;
}
.downloads .java-title {
    margin-top: 0;
    margin-bottom: 50%;
    font-size: 50px;
}
.web-grid {
    grid-area: web;
}
footer {
    margin: 0;
    grid-area: footer;
}
.project-list a {
    padding: 25%;
    margin: 1%;
    border-radius: 20%;
    background-image: url(../img/bruno-emmanuelle-RLHw2RIUWsM-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
   
 }
/*
================================ 
contact and thank you
================================
*/
.contact {
    background-image: url(../img/eberhard-grossgasteiger-OQWUssLSHYU-unsplash.jpg);
    background-size: cover;
    padding: 14% 35%;
    text-align: left;
    font-size: 30px;
    min-height: 600px;
    font-weight: bolder;
}
.contact h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    max-width: 600px;
}
.contact-form {
    max-width: 400px;
    margin-left: 15%;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
}
input[type=submit] {
    padding: 15px;
    color: black;
    background-color: rgb(8, 70, 8);
}
.btn {
    padding: 5px;
    margin: 1%;
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20%;
    font-size: larger;
}
.btn:hover {
    background-color: rgb(5, 46, 5);
}
.thankyou {
    min-height: 1000px;
    padding-top: 15%;
    background-image: url(../img/reinaldo-photography-o5PYQ1CR_9w-unsplash.jpg);
    background-size: cover;
    justify-content: center;
}

.thankyou h1 {
    min-width: 400px;
    padding-top: 6%;
    font-size: 85px;
    color: black;
}
/*
================================ 
media 
================================
*/
@media (max-width: 550px) {
    /* main media */

    nav a, footer a{
        padding: 2%;
        font-size: 20px;
    }
    .me {
        float: none;   
        width: 100px;
        height: 100px;
    }
    .content {
        padding-top: 15%;
        padding-left: 20%;
    }
    .brief {
        padding: 0;
    }
    h1 {
        text-align: left;
        font-size: 35px;
    }
    .brief p {
        margin-top: 10px;
        font-size: 20px;
    }
    /* Skills media */

    .landing-pad {
        padding-top: 0%;
    }
    .skills p {
        font-size: 20px;
    }
    .skill-bio, .content-skills {
        padding: 15% 10%;
        margin: 0;
    }
    .skills .skill-btn, .skills .skill-list a {
        text-align: center;
        margin: 5%;
        width: 100%;
        font-size: 15px;
        padding: 7%;
    }

    /* Projects media */

    .projects {
        min-height: 100vh;
    }
    .projects h1 {
        text-align: center;
        font-size: 20px;
    }
    .project-list .java-title{
        font-size: 25px;
    }
    /* Contact media */

    .contact {
        padding: 10% 10%;
    }

}
